.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    .play {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 200px;
            height: 100px;
            color: white;
            background: rgb(74, 96, 187);
            font-size: 20px;
            border-radius: 30%;
        }

        progress {
            width: 292px;
        }
    }
}