.navBar {
  position: relative;
  display: flex;
  width: 80vw;
  margin: 1em;
  justify-content: flex-end;
  margin-bottom: 1vh;
  h3 {
    text-decoration: none;
    color: $white;
    font-weight: 700;
  }

  @media (max-width: 767.98px) {
    width: 80vw;
    margin-top: 2vh;

    .button-my-account {
      h3 {
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-size: 10px;
      }
    }
  }
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 767.98px) {
    flex-wrap: wrap;
    height: 100%;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: solid 1px #efefd0;
    border-radius: 25px;
    padding: 1%;
    background-color: $bg-box;

    @media (max-width: 767.98px) {
      width: 300px;
      border: none;
      background: none;
    }

    &__title {
      h1 {
        color: white;
        font-weight: 900;
        font-size: 64px;
        text-align: center;
        font-style: normal;
      }

      @media (max-width: 767.98px) {
        width: 50%;
        padding-bottom: 3vh;

        h1 {
          position: relative;
          top: 20%;
          font-size: 32px;
          line-height: 88.5%;
          text-align: left;
        }
      }
    }

    &__content {
      width: 36vw;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          width: 36vw;
          font-size: 40px;
        }

        hr {
          width: 36vw;
          max-width: 100%;
        }
      }

      img {
        height: 83px;
        width: 83px;
      }

      p {
        font-size: 32px;
        font-weight: 700;
        color: $white;
        margin-left: 30px;
      }

      &__element1 {
        display: flex;
        align-items: center;
      }

      &__element2 {
        display: flex;
        align-items: center;
      }

      &__element3 {
        display: flex;
        align-items: center;
      }

      @media (max-width: 767.98px) {
        height: 60vh;
        width: 60vw;
        border: solid 1px #efefd0;
        border-radius: 25px;
        background-color: $bg-box;

        p {
          font-size: 20px;
          font-weight: 700;
          color: $white;
        }

        h2 {
          font-size: 28px;
          line-height: 88.5%;
          text-align: center;
        }

        hr {
          margin-top: 30px;
          width: 200px;
        }

        img {
          height: 55px;
          width: 55px;
          padding: 10px;
        }

        button {
          background: $beige;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 21px;
        }
      }

      &__title {
        color: $beige;
        font-size: 40px;
      }
    }
  }

  &__cta {
    button {
      @media (max-width: 767.98px) {
        width: 30vw;
      }

      margin-top: 20px;
      background: #efefd0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 21px;
      height: 8vh;
      width: 20vw;
      font-family: 'Satoshi',
      sans-serif;
      font-weight: 700;
      font-size: 16px;
      border: none;
    }
  }
}
