.buttonPrivacy {
  color: "#EFEFD0";
}
a:-webkit-any-link {
  text-decoration: none;
}

.privacy{

  padding: 1em;

  h1{
    color: $beige;

  }

  p{
    color: $white;

  }

  @media (max-width: 767.98px){

    h1{
      font-size: 16px;
      margin-top: 1vh;
      
    }

    p{
      font-size: 12px;
    }
  }
}
